body {
    background-color: #f8fafc;
}

main {
    max-width: 700px;
}

.main-header nav a {
    $spacing: .3rem;
    color: $dark;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: $spacing;
    margin: 0 $spacing;
}

.main-header nav a.router-link-active {
    border-color: $primary;
}